.status {
  font-size: 2.5vh;
  color: #ff6b6b;
  text-align: center;
  margin-top: 4vh;
}
.container {
  flex-direction: row;
  gap: 5vw;
  align-items: center;
}
.factionTooltip {
  display: flex;
  position: absolute;
  align-items: center;
  padding: 5vmax;
  left: 50vw;
  top: 10vmax;
  width: 40vw;
}
.tierList {
  font-size: 1vmax;
}
@media (max-width: 750px) {
  .container {
    display: block;
  }
  .factionTooltip {
    display: flex;
    align-items: start;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    width: 80vw;
  }
  .tierList {
    margin-left: 10vmin;
  }
}
