.status {
  font-size: 2.5vh;
  color: #ff6b6b;
  text-align: center;
  margin-top: 4vh;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  align-items: center;
}
.factionTooltip {
  display: flex;
  align-items: center;
}
@media (max-width: 680px) {
  .container {
    display: block;
  }
  .factionTooltip {
    padding: 5vmax;
    display: flex;
    align-items: start;
    justify-content: center;
  }
  .tierList {
    margin-left: 10vmin;
  }
}
