.container {
  position: relative;
  padding: 2vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vmax;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1vmax;
  justify-content: center;
}

.fractionButton {
  height: 5vmax;
  width: 5vmax;
  padding: 0.5vw;
  background-color: #030622;
  border: none;
  border-radius: 0.5vh;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.fractionButton:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1vh #5e5eff;
}

.tooltipWrapper {
  position: relative;
  margin-top: 2vmax;
  display: flex;
  height: 15vmax;
  justify-content: center;
  z-index: 10;
}
