.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  flex-wrap: wrap;
}

.name {
  margin: 2px;
  color: #e0e0e0;
  font-weight: bold;
  text-align: center;
}

.status {
  font-size: 1.8vh;
  color: #ff6b6b;
  text-align: center;
}
