.container {
}

.buttonPanel {
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1vw;
  width: 96vw;
  padding: 0.5vw 2vw;
}

.factionButton {
  width: 19vw;
  padding: 0.1vw;
  margin: 0.1vw;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.factionButton:hover {
  box-shadow: 0 0 1vh #5e5eff;
}

.infoPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.status {
  color: #ccc;
  font-size: 2vw;
  margin-bottom: 2vw;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.factionImage {
  margin: auto;
  width: 41vw;
  border-radius: 2vw;
  box-shadow: 0 0 2vw #5e5eff;
}
