.container {
  padding: 1vw;
  border-radius: 2vw;
  color: #e0e0e0;
  display: flex;
  margin-left: 5vw;
}

.historyBlock {
  position: relative;
}

.historyItem {
  padding: 1vw;
  margin: 0.5vw;
  display: flex;
  width: 100%;
  border-radius: 0.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  background-color: #0f0f49af;
}

.historyItem:hover {
  background-color: #2c3370;
}

.date {
  font-weight: bold;
}

.winnerList {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.winner {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.playerName {
  font-weight: bold;
  color: #ffd700;
}

.winText {
  color: #ccc;
}

.noWinner {
  color: #999;
  font-style: italic;
}

.details {
  position: absolute;
  top: 0;
  left: 120%;
  width: 100%;
  background-color: #030622;
  border-radius: 1vw;
  padding: 2vw;
  box-shadow: 0 0 1vh #5e5eff;
}

.participant {
  margin-bottom: 1vw;
  z-index: 1;
  display: flex;
  align-items: center;
}

.noData {
  font-size: 2vw;
  text-align: center;
  margin-top: 4vw;
  color: #999;
}
