.container {
  position: relative;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 1vmax;
  height: auto;
}

.playerButton {
  width: 12vmax;
  height: 3vmax;
  justify-content: center;
  font-size: 1vmax;
  padding: 5px;
  background-color: #0306228c;
  margin: 2px;
  border: none;
  border-radius: 0.5vh;
  cursor: pointer;
  color: #e0e0e0;
  display: flex;
  align-items: center;
  gap: 2px;
  transition: background-color 0.3s ease;
}

.playerButton:hover {
  background-color: #2c3370;
}
.containerTooltip {
  position: absolute;
  display: flex;
  align-items: start;
  left: 0;
  width: 100vw;
}
.tooltip {
  z-index: 2;
  width: auto;
  padding: 1vw;
  border: 1px solid #444;
  position: absolute;
  background: #09113186;
  border-radius: 1vw;
  box-shadow: 0 0 1vw #5e5eff;
  animation: fadeIn 0.3s ease-in-out;
}

.factionStat {
  margin-right: 1vw;
  display: inline-block;
}

.count {
  font-size: 0.8em;
  color: #ccc;
}

.closeButton {
  margin-top: 1vw;
  border: none;
  padding: 1vw;
  background-color: #030622;
  color: #e0e0e0;
  border-radius: 0.5vw;
  cursor: pointer;
}
