.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.2vmax;
  padding: 1vmax;
  width: 100%;
}

.playerBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 14vmax;
  min-width: 40vmin;
}

.selectedRow {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4vmin;
  width: 100%;
  margin-top: 1vmax;
  flex-wrap: wrap;
}

.playerButton {
  width: 100%;
  font-size: 1.2vmax;
  padding: 0.5vmax;
  background-color: #0306228c;
  border: none;
  border-radius: 1vmin;
  cursor: pointer;
  color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vmin;
  transition: background-color 0.3s ease;
}

.playerButton:hover {
  background-color: #2c3370;
}

.tooltip {
  flex: 1 1 60vmin;
  max-width: 80vmin;
  padding: 2vmin;
  border: 0.3vmin solid #444;
  background: rgba(9, 17, 49, 0.6);
  border-radius: 2vmin;
  box-shadow: 0 0 2vmin #5e5eff;
  color: #fff;
  font-size: 1.5vmin;
}

.tooltip h2 {
  font-size: 2vmin;
  margin-bottom: 1vmin;
}

.tooltip h4 {
  font-size: 1.6vmin;
  margin: 1.5vmin 0 0.5vmin;
}

.factionStat {
  margin-right: 1vmin;
  display: inline-flex;
  align-items: center;
}

.count {
  font-size: 1.2vmin;
  color: #ccc;
  margin-left: 0.5vmin;
}
.closeButton {
  border: none;
  padding: 1.5vmin 3vmin;
  background-color: #030622;
  color: #e0e0e0;
  border-radius: 1vmin;
  font-size: 1.5vmin;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 0.5vmax;
}

.closeButton:hover {
  background-color: #1a1a3f;
}
@media (max-width: 600px) {
  .selectedRow {
    align-items: center;
  }

  .tooltip {
    width: 90%;
    font-size: 2.5vmin;
  }

  .tooltip h2 {
    font-size: 3vmin;
  }

  .tooltip h4 {
    font-size: 2.5vmin;
  }

  .closeButton {
    margin-top: 1vmax;
  }
}
