.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #e0e0e0;
}

.nav {
  display: flex;
  width: auto;
  gap: 3vmin;
  background-color: #1a1f4a;
  flex-wrap: wrap;
  justify-content: center;
}

.link {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 2vmin;
  padding: 2vmin;
  border-radius: 0.5vh;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: #2c3370;
}

.activeLink {
  color: #ffd700;
  font-weight: bold;
  background-color: #2c3370;
  border-radius: 0.5vmin;
  font-size: 2vmin;
  padding: 2vmin;
}

.content {
  flex: 1;
}
